* {
    text-decoration: none;
}

.navBar {
    background-color: antiquewhite; 
    padding: 15px 15px;
}

.navDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: inline-block;
}