* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #ffe8d7;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 85px;
    padding: 5px 1%;
}

.header .logo {
    padding-right: 100px;
    overflow-x: hidden;
}

.header .logo img {
    cursor: pointer;
    height: 70px;
    width: auto;
    transition: all 0.3s;
    overflow-x: hidden;
}

.header .logo img:hover {
    transform: scale(1.1);
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.header .userPic {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
    flex-grow: 1;
}

.header .userPic img {
    height: 70px;
    border-radius: 100%;
    transition: all 0.3s;
    cursor: pointer;
}

.header .userPic img:hover {
    transform: scale(1.05);
}

.header .morePic {
    overflow:hidden;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
    flex-grow: 1;
}

.header .morePic img {
    height: 70px;
    border-radius: 100%;
    transition: all 0.3s;
    cursor: pointer;
}


.header .morePic img:hover {
    transform: scale(1.05);
}

.receta-destacada .titulo-destacada {

    font-size: 10vw;
    font-weight: 700;
    color: white;
    justify-content: left;
    margin-right: 0;
    overflow-x: hidden;
}

.receta-destacada .texto-destacada {
    font-size: 5vw;
    font-weight: 300;
    color: white;
    margin-right: 0;
}

@media screen and (min-width:881px) {
    .header .nav-links {
        list-style: none;
    }

    .header .morePic {
        display: none;
    }

    .receta-destacada {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: 700px;
        background-image: url(./Resources/takoyaki.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 90px;
    }
}

@media screen and (max-width:880px) {
    .header .nav-links {
        display: none;
    }

    .header .userPic {
        display: none;
    }

    .receta-destacada {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: 700px;
        background-image: url(./Resources/takoyaki.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 10px;
    }
}

.view-categories {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    border: solid black;
    border-width: 0 0 2px 0;
    flex-wrap: wrap;
}

.view-categories .view-category-title {
    color: rgb(166, 166, 166);
    margin-left: 10%;
}

.view-categories .categories {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    overflow-x: hidden;
}

@media screen and (max-width:880px) {
    .view-categories .view-category-title {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .view-categories {
        justify-content: center;
    }
}

.view-categories .categories li {
    font-weight: 600;
    padding-left: 50px;
    text-align: center;
    flex-grow: 1;
}

.latestRecipesTitle {
    font-size: 60px;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.latestRecipesContent {
    display: flex;
    width: auto;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.latestRecipes article {
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: left;
}

.latestRecipesContent img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    transition: all 0.3s;
}

.latestRecipesContent img:hover {
    transform: scale(1.02);
}

.latestRecipes article h3 {
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 30px;
    padding-left: 10px;
}

.latestRecipesContent .type {
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.latestRecipesContent .description {
    padding-left: 10px;
    padding-bottom: 5px;
    flex-grow: 1;
}

.latestRecipesContent .buttonDiv {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: end;
}

.latestRecipesContent button {
    border-radius: 50px;
    background-color: white;
    border-color: #ca9880;
    color: #ca9880;
    overflow: hidden;
    width: 30%;
    height: 50px;
    margin-left: 5px;
    margin: 10px;
    transition: all 0.3s;
}

.latestRecipesContent button:hover {
    transform: scale(1.05);
}

.email {
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 8%;
    margin-right: 8%;
    background-color: #ca9880;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.email .textDiv {
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 40px;
    width: 60%;
}

.email .textDiv h2 {

    font-size: 30px;
}

.email .formDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.email .formDiv input {
    width: 300px;
    height: 50px;
    background-color: transparent;
    color: #ffe8d7;
    padding-left: 5px;
}

.email .formDiv input[type=email] {
    border: 2px solid #ffe8d7;
    border-radius: 70px;
}

.email .formDiv input::placeholder {
    color: #ffe8d7;
}

.email .formDiv button {
    width: 150px;
    height: 50px;
    background-color: #ffe8d7;
    border-color: transparent;
    border-radius: 70px;
    color: white;
}

.popularRecipes {
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    overflow: hidden;
}

.popularRecipes h2 {
    padding: 30px;
    padding-bottom: 0px;
    font-size: 50px;
}


.popularRecipes .recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5%;
}

.popularRecipes .recipe {
    display: flex;
    width: 500px;
    height: 400px;
    margin: 30px;
    justify-content: flex-end;
    flex-direction: column;
    transition: all 0.3s;
}

.popularRecipes .recipe:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.popularRecipes .type {
    color: white;
    padding: 20px;
    padding-bottom: 0px;
}

.popularRecipes h3 {
    color: white;
    padding: 20px;
    padding-top: 5px;
    font-size: 30px;
}

#recipe1 {
    background-image: url(./Resources/udon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

#recipe2 {
    background-image: url(./Resources/ramen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

#recipe3 {
    background-image: url(./Resources/dorayaki.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

#recipe4 {
    background-image: url(./Resources/mochi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.author {
    background-color: #ddbeaa;
    border: solid black;
    border-width: 2px 0 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.author .foto {
    display: flex;
    height: 400px;
    width: 280px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
}

.author img {
    width: 280px;
    border-radius: 100%;
}

.author .texto {
    padding: 90px;
    width: 900px;
    overflow: hidden;
}

.author .texto h4 {
    font-size: 24px;
}

.author .name {
    padding-top: 10px;
    font-size: 45px;
}

.down {
    background-color: #ffe8d7;
    border: solid black;
    border-width: 0 0 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px 1%;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.down .divLeft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.down .logo {
    overflow: hidden;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.down .logo img {
    cursor: pointer;
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.down .logo img:hover {
    transform: scale(1.1);
}

.down .nav-links {
    padding-left: 100px;
    padding-bottom: 50px;
    overflow: hidden;
}

.down .nav-links li {
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 20px;
    transition: all 0.3s;
}

.down .nav-links li:hover {
    transform: scale(1.1);
}

.down .nav-links a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.down .socialMedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.down a {
    margin: 10px;
    transition: all 0.1s;
    cursor: pointer;
}

.down a:hover {
    transform: scale(1.1);
}

.down img {
    width: 35px;
}